/****** Object:  Table [dbo].[Adresse]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresse](
	[AdresseId] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](10) NULL,
	[Boite] [nvarchar](10) NULL,
	[Rue] [nvarchar](255) NULL,
	[Commune] [nvarchar](255) NULL,
	[CodePostal] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdresseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bien]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bien](
	[BienId] [int] IDENTITY(1,1) NOT NULL,
	[Reference] [nvarchar](50) NOT NULL,
	[TitreAnnonce] [nvarchar](150) NOT NULL,
	[Peb] [char](1) NOT NULL,
	[PrixVente] [decimal](10, 2) NULL,
	[LoyerMensuel] [decimal](10, 2) NULL,
	[ChargesMensuelles] [decimal](10, 2) NULL,
	[EstLibre] [bit] NULL,
	[Description] [nvarchar](700) NULL,
	[SurfaceHabitable] [decimal](10, 2) NULL,
	[SurfaceTotale] [decimal](10, 2) NULL,
	[NombrePieces] [int] NULL,
	[NombreChambres] [int] NULL,
	[NombreSalleBain] [int] NULL,
	[NombreWc] [int] NULL,
	[AnneeConstruction] [nvarchar](10) NULL,
	[Ascenseur] [bit] NULL,
	[Chauffage] [nvarchar](50) NULL,
	[Isolation] [nvarchar](50) NULL,
	[CuisineEquipee] [bit] NULL,
	[Cave] [bit] NULL,
	[Grenier] [bit] NULL,
	[Garage] [bit] NULL,
	[Jardin] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AdresseId] [int] NOT NULL,
	[TypeBienId] [int] NOT NULL,
	[StatutBienId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentBien]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentBien](
	[DocumentBienId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Chemin] [nvarchar](500) NULL,
	[DateCreation] [date] NOT NULL,
	[BienId] [int] NOT NULL,
	[TypeDocumentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentBienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evenement]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evenement](
	[EvenementId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DateEvenement] [date] NOT NULL,
	[HeureDebut] [time](7) NOT NULL,
	[EstAccompli] [bit] NULL,
	[TypeEvenementId] [int] NOT NULL,
	[BienId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EvenementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriqueStatutBien]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueStatutBien](
	[HistoriqueStatutBienId] [int] IDENTITY(1,1) NOT NULL,
	[DateChangement] [datetime] NULL,
	[StatutBienId] [int] NOT NULL,
	[BienId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoriqueStatutBienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personne](
	[PersonneId] [int] IDENTITY(1,1) NOT NULL,
	[Prenom] [nvarchar](50) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Telephone] [nvarchar](15) NULL,
	[Sexe] [char](1) NOT NULL,
	[DateNaissance] [date] NULL,
	[CompteBancaire] [nvarchar](255) NULL,
	[AdresseId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotoBien]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotoBien](
	[PhotoBienId] [int] IDENTITY(1,1) NOT NULL,
	[EstPrincipale] [bit] NULL,
	[Chemin] [nvarchar](250) NOT NULL,
	[BienId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoBienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelationBienPersonne]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationBienPersonne](
	[RelationBienPersonneId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[BienId] [int] NOT NULL,
	[PersonneId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RelationBienPersonneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelationEvenementPersonne]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationEvenementPersonne](
	[RelationEvenementPersonneId] [int] IDENTITY(1,1) NOT NULL,
	[Commentaire] [nvarchar](400) NULL,
	[PersonneId] [int] NOT NULL,
	[EvenementId] [int] NOT NULL,
	[RoleEvenementPersonneId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RelationEvenementPersonneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleEvenementPersonne]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleEvenementPersonne](
	[RoleEvenementPersonneId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleEvenementPersonneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatutBien]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatutBien](
	[StatutBienId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatutBienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatutTransaction]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatutTransaction](
	[StatutTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatutTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Reference] [nvarchar](255) NOT NULL,
	[Montant] [decimal](10, 2) NOT NULL,
	[DateTransaction] [date] NULL,
	[Description] [nvarchar](255) NOT NULL,
	[TypeTransactionId] [int] NOT NULL,
	[StatutTransactionId] [int] NULL,
	[BeneficiaireId] [int] NOT NULL,
	[PayeurId] [int] NOT NULL,
	[BienId] [int] NOT NULL,
	[DocumentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeBien]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeBien](
	[TypeBienId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeBienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeDocument]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeDocument](
	[TypeDocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeEvenement]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeEvenement](
	[TypeEvenementId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeEvenementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeTransaction]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTransaction](
	[TypeTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[UtilisateurId] [int] IDENTITY(1,1) NOT NULL,
	[NomUtilisateur] [nvarchar](50) NOT NULL,
	[MotDePasse] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilisateurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adresse] ON 

INSERT [dbo].[Adresse] ([AdresseId], [Numero], [Boite], [Rue], [Commune], [CodePostal]) VALUES (1, N'12', NULL, N'Rue des Acacias', N'Namur', N'5000')
INSERT [dbo].[Adresse] ([AdresseId], [Numero], [Boite], [Rue], [Commune], [CodePostal]) VALUES (2, N'34', NULL, N'Avenue de la Paix', N'Namur', N'5000')
INSERT [dbo].[Adresse] ([AdresseId], [Numero], [Boite], [Rue], [Commune], [CodePostal]) VALUES (3, N'7', NULL, N'Rue de la Station', N'Wépion', N'5100')
GO
SET IDENTITY_INSERT [dbo].[Adresse] OFF
GO
SET IDENTITY_INSERT [dbo].[Bien] ON 

SET IDENTITY_INSERT [dbo].[Bien] OFF
GO

SET IDENTITY_INSERT [dbo].[Evenement] ON 

INSERT [dbo].[Evenement] ([EvenementId], [Description], [DateEvenement], [HeureDebut], [EstAccompli], [TypeEvenementId], [BienId]) VALUES (1, N'Visite du bien par couple intéressé', CAST(N'2025-01-15' AS Date), CAST(N'10:00:00' AS Time), 1, 1, 1)
INSERT [dbo].[Evenement] ([EvenementId], [Description], [DateEvenement], [HeureDebut], [EstAccompli], [TypeEvenementId], [BienId]) VALUES (2, N'Appel de renseignement sur le bien', CAST(N'2025-01-16' AS Date), CAST(N'14:30:00' AS Time), 1, 2, 1)
INSERT [dbo].[Evenement] ([EvenementId], [Description], [DateEvenement], [HeureDebut], [EstAccompli], [TypeEvenementId], [BienId]) VALUES (3, N'Visite de la maison familiale', CAST(N'2025-01-20' AS Date), CAST(N'11:00:00' AS Time), 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Evenement] OFF
GO
SET IDENTITY_INSERT [dbo].[Personne] ON 

INSERT [dbo].[Personne] ([PersonneId], [Prenom], [Nom], [Email], [Telephone], [Sexe], [DateNaissance], [CompteBancaire], [AdresseId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Marie', N'Dupont', N'marie.dupont@gmail.com', N'0490909090', N'F', CAST(N'1985-03-15' AS Date), N'BE68539007547034', 51, CAST(N'2024-01-10T00:00:00.000' AS DateTime), CAST(N'2024-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Personne] ([PersonneId], [Prenom], [Nom], [Email], [Telephone], [Sexe], [DateNaissance], [CompteBancaire], [AdresseId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Jean', N'Martin', N'jean.martin@hotmail.com', N'0476543210', N'M', CAST(N'1978-07-22' AS Date), N'BE71000000002649', 52, CAST(N'2024-01-12T00:00:00.000' AS DateTime), CAST(N'2024-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Personne] ([PersonneId], [Prenom], [Nom], [Email], [Telephone], [Sexe], [DateNaissance], [CompteBancaire], [AdresseId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Sophie', N'Lambert', N'sophie.lambert@yahoo.be', N'0487654321', N'F', CAST(N'1990-11-08' AS Date), NULL, 53, CAST(N'2024-01-15T00:00:00.000' AS DateTime), CAST(N'2024-01-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Personne] OFF
GO

SET IDENTITY_INSERT [dbo].[RelationBienPersonne] ON 

INSERT [dbo].[RelationBienPersonne] ([RelationBienPersonneId], [Role], [BienId], [PersonneId]) VALUES (1, N'Propriétaire', 1, 4)
INSERT [dbo].[RelationBienPersonne] ([RelationBienPersonneId], [Role], [BienId], [PersonneId]) VALUES (2, N'Acheteur', 1, 1)
INSERT [dbo].[RelationBienPersonne] ([RelationBienPersonneId], [Role], [BienId], [PersonneId]) VALUES (3, N'Intéressé', 1, 5)
SET IDENTITY_INSERT [dbo].[RelationBienPersonne] OFF
GO
SET IDENTITY_INSERT [dbo].[RelationEvenementPersonne] ON 

INSERT [dbo].[RelationEvenementPersonne] ([RelationEvenementPersonneId], [Commentaire], [PersonneId], [EvenementId], [RoleEvenementPersonneId]) VALUES (1, N'Très intéressés, veulent réfléchir', 1, 1, 1)
INSERT [dbo].[RelationEvenementPersonne] ([RelationEvenementPersonneId], [Commentaire], [PersonneId], [EvenementId], [RoleEvenementPersonneId]) VALUES (2, NULL, 5, 1, 1)
INSERT [dbo].[RelationEvenementPersonne] ([RelationEvenementPersonneId], [Commentaire], [PersonneId], [EvenementId], [RoleEvenementPersonneId]) VALUES (3, N'Questions sur les charges', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[RelationEvenementPersonne] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleEvenementPersonne] ON 

INSERT [dbo].[RoleEvenementPersonne] ([RoleEvenementPersonneId], [Libelle]) VALUES (1, N'Acheteur')
INSERT [dbo].[RoleEvenementPersonne] ([RoleEvenementPersonneId], [Libelle]) VALUES (2, N'Vendeur')
INSERT [dbo].[RoleEvenementPersonne] ([RoleEvenementPersonneId], [Libelle]) VALUES (3, N'Locataire')
SET IDENTITY_INSERT [dbo].[RoleEvenementPersonne] OFF
GO
SET IDENTITY_INSERT [dbo].[StatutBien] ON 

INSERT [dbo].[StatutBien] ([StatutBienId], [Libelle]) VALUES (1, N'À vendre')
INSERT [dbo].[StatutBien] ([StatutBienId], [Libelle]) VALUES (2, N'En option')
INSERT [dbo].[StatutBien] ([StatutBienId], [Libelle]) VALUES (3, N'Vendu')
SET IDENTITY_INSERT [dbo].[StatutBien] OFF
GO
SET IDENTITY_INSERT [dbo].[StatutTransaction] ON 

INSERT [dbo].[StatutTransaction] ([StatutTransactionId], [Libelle]) VALUES (1, N'En attente')
INSERT [dbo].[StatutTransaction] ([StatutTransactionId], [Libelle]) VALUES (2, N'Confirmée')
INSERT [dbo].[StatutTransaction] ([StatutTransactionId], [Libelle]) VALUES (3, N'Annulée')
SET IDENTITY_INSERT [dbo].[StatutTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeBien] ON 

INSERT [dbo].[TypeBien] ([TypeBienId], [Libelle]) VALUES (1, N'Appartement')
INSERT [dbo].[TypeBien] ([TypeBienId], [Libelle]) VALUES (2, N'Maison')
INSERT [dbo].[TypeBien] ([TypeBienId], [Libelle]) VALUES (3, N'Villa')
SET IDENTITY_INSERT [dbo].[TypeBien] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeDocument] ON 

INSERT [dbo].[TypeDocument] ([TypeDocumentId], [Libelle]) VALUES (1, N'Contrat')
INSERT [dbo].[TypeDocument] ([TypeDocumentId], [Libelle]) VALUES (2, N'Rapport expertise')
INSERT [dbo].[TypeDocument] ([TypeDocumentId], [Libelle]) VALUES (3, N'État des lieux')
SET IDENTITY_INSERT [dbo].[TypeDocument] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeEvenement] ON 

INSERT [dbo].[TypeEvenement] ([TypeEvenementId], [Libelle]) VALUES (1, N'Visite')
INSERT [dbo].[TypeEvenement] ([TypeEvenementId], [Libelle]) VALUES (2, N'Appel téléphonique')
INSERT [dbo].[TypeEvenement] ([TypeEvenementId], [Libelle]) VALUES (3, N'Signature compromis')
SET IDENTITY_INSERT [dbo].[TypeEvenement] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeTransaction] ON 

INSERT [dbo].[TypeTransaction] ([TypeTransactionId], [Libelle]) VALUES (1, N'Vente')
INSERT [dbo].[TypeTransaction] ([TypeTransactionId], [Libelle]) VALUES (2, N'Location')
INSERT [dbo].[TypeTransaction] ([TypeTransactionId], [Libelle]) VALUES (3, N'Honoraires')
SET IDENTITY_INSERT [dbo].[TypeTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilisateur] ON 

INSERT [dbo].[Utilisateur] ([UtilisateurId], [NomUtilisateur], [MotDePasse], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'admin123', CAST(N'2026-05-31T17:07:58.030' AS DateTime), CAST(N'2026-05-31T17:07:58.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[Utilisateur] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Bien__062B9EB8337112BB]    Script Date: 31-05-26 22:36:04 ******/
ALTER TABLE [dbo].[Bien] ADD UNIQUE NONCLUSTERED 
(
	[Reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bien_Adresse]    Script Date: 31-05-26 22:36:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bien_Adresse] ON [dbo].[Bien]
(
	[AdresseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bien_Statut]    Script Date: 31-05-26 22:36:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bien_Statut] ON [dbo].[Bien]
(
	[StatutBienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bien_Type]    Script Date: 31-05-26 22:36:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bien_Type] ON [dbo].[Bien]
(
	[TypeBienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentBien_Bien]    Script Date: 31-05-26 22:36:04 ******/
CREATE NONCLUSTERED INDEX [IX_DocumentBien_Bien] ON [dbo].[DocumentBien]
(
	[BienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personne__A9D1053444517F1F]    Script Date: 31-05-26 22:36:04 ******/
ALTER TABLE [dbo].[Personne] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personne__D9FEB744076F4460]    Script Date: 31-05-26 22:36:04 ******/
ALTER TABLE [dbo].[Personne] ADD UNIQUE NONCLUSTERED 
(
	[Telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhotoBien_Bien]    Script Date: 31-05-26 22:36:04 ******/
CREATE NONCLUSTERED INDEX [IX_PhotoBien_Bien] ON [dbo].[PhotoBien]
(
	[BienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaction_Bien]    Script Date: 31-05-26 22:36:04 ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_Bien] ON [dbo].[Transaction]
(
	[BienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaction_Type]    Script Date: 31-05-26 22:36:04 ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_Type] ON [dbo].[Transaction]
(
	[TypeTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Utilisat__49EDB0E5CF9B2284]    Script Date: 31-05-26 22:36:04 ******/
ALTER TABLE [dbo].[Utilisateur] ADD UNIQUE NONCLUSTERED 
(
	[NomUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bien] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bien] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Evenement] ADD  DEFAULT ((0)) FOR [EstAccompli]
GO
ALTER TABLE [dbo].[HistoriqueStatutBien] ADD  DEFAULT (getdate()) FOR [DateChangement]
GO
ALTER TABLE [dbo].[Personne] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Personne] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PhotoBien] ADD  DEFAULT ((0)) FOR [EstPrincipale]
GO
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT (getdate()) FOR [DateTransaction]
GO
ALTER TABLE [dbo].[Utilisateur] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Utilisateur] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Adresse] FOREIGN KEY([AdresseId])
REFERENCES [dbo].[Adresse] ([AdresseId])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Adresse]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_StatutBien] FOREIGN KEY([StatutBienId])
REFERENCES [dbo].[StatutBien] ([StatutBienId])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_StatutBien]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_TypeBien] FOREIGN KEY([TypeBienId])
REFERENCES [dbo].[TypeBien] ([TypeBienId])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_TypeBien]
GO
ALTER TABLE [dbo].[DocumentBien]  WITH CHECK ADD  CONSTRAINT [FK_DocumentBien_Bien] FOREIGN KEY([BienId])
REFERENCES [dbo].[Bien] ([BienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentBien] CHECK CONSTRAINT [FK_DocumentBien_Bien]
GO
ALTER TABLE [dbo].[DocumentBien]  WITH CHECK ADD  CONSTRAINT [FK_DocumentBien_TypeDocument] FOREIGN KEY([TypeDocumentId])
REFERENCES [dbo].[TypeDocument] ([TypeDocumentId])
GO
ALTER TABLE [dbo].[DocumentBien] CHECK CONSTRAINT [FK_DocumentBien_TypeDocument]
GO
ALTER TABLE [dbo].[Evenement]  WITH CHECK ADD  CONSTRAINT [FK_Evenement_Bien] FOREIGN KEY([BienId])
REFERENCES [dbo].[Bien] ([BienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evenement] CHECK CONSTRAINT [FK_Evenement_Bien]
GO
ALTER TABLE [dbo].[Evenement]  WITH CHECK ADD  CONSTRAINT [FK_Evenement_TypeEvenement] FOREIGN KEY([TypeEvenementId])
REFERENCES [dbo].[TypeEvenement] ([TypeEvenementId])
GO
ALTER TABLE [dbo].[Evenement] CHECK CONSTRAINT [FK_Evenement_TypeEvenement]
GO
ALTER TABLE [dbo].[HistoriqueStatutBien]  WITH CHECK ADD  CONSTRAINT [FK_HistoriqueStatutBien_Bien] FOREIGN KEY([BienId])
REFERENCES [dbo].[Bien] ([BienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoriqueStatutBien] CHECK CONSTRAINT [FK_HistoriqueStatutBien_Bien]
GO
ALTER TABLE [dbo].[HistoriqueStatutBien]  WITH CHECK ADD  CONSTRAINT [FK_HistoriqueStatutBien_StatutBien] FOREIGN KEY([StatutBienId])
REFERENCES [dbo].[StatutBien] ([StatutBienId])
GO
ALTER TABLE [dbo].[HistoriqueStatutBien] CHECK CONSTRAINT [FK_HistoriqueStatutBien_StatutBien]
GO
ALTER TABLE [dbo].[Personne]  WITH CHECK ADD  CONSTRAINT [FK_Personne_Adresse] FOREIGN KEY([AdresseId])
REFERENCES [dbo].[Adresse] ([AdresseId])
GO
ALTER TABLE [dbo].[Personne] CHECK CONSTRAINT [FK_Personne_Adresse]
GO
ALTER TABLE [dbo].[PhotoBien]  WITH CHECK ADD  CONSTRAINT [FK_PhotoBien_Bien] FOREIGN KEY([BienId])
REFERENCES [dbo].[Bien] ([BienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhotoBien] CHECK CONSTRAINT [FK_PhotoBien_Bien]
GO
ALTER TABLE [dbo].[RelationBienPersonne]  WITH CHECK ADD  CONSTRAINT [FK_RelBienPersonne_Bien] FOREIGN KEY([BienId])
REFERENCES [dbo].[Bien] ([BienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelationBienPersonne] CHECK CONSTRAINT [FK_RelBienPersonne_Bien]
GO
ALTER TABLE [dbo].[RelationBienPersonne]  WITH CHECK ADD  CONSTRAINT [FK_RelBienPersonne_Personne] FOREIGN KEY([PersonneId])
REFERENCES [dbo].[Personne] ([PersonneId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelationBienPersonne] CHECK CONSTRAINT [FK_RelBienPersonne_Personne]
GO
ALTER TABLE [dbo].[RelationEvenementPersonne]  WITH CHECK ADD  CONSTRAINT [FK_RelEvenementPersonne_Evenement] FOREIGN KEY([EvenementId])
REFERENCES [dbo].[Evenement] ([EvenementId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelationEvenementPersonne] CHECK CONSTRAINT [FK_RelEvenementPersonne_Evenement]
GO
ALTER TABLE [dbo].[RelationEvenementPersonne]  WITH CHECK ADD  CONSTRAINT [FK_RelEvenementPersonne_Personne] FOREIGN KEY([PersonneId])
REFERENCES [dbo].[Personne] ([PersonneId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelationEvenementPersonne] CHECK CONSTRAINT [FK_RelEvenementPersonne_Personne]
GO
ALTER TABLE [dbo].[RelationEvenementPersonne]  WITH CHECK ADD  CONSTRAINT [FK_RelEvenementPersonne_Role] FOREIGN KEY([RoleEvenementPersonneId])
REFERENCES [dbo].[RoleEvenementPersonne] ([RoleEvenementPersonneId])
GO
ALTER TABLE [dbo].[RelationEvenementPersonne] CHECK CONSTRAINT [FK_RelEvenementPersonne_Role]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Beneficiaire] FOREIGN KEY([BeneficiaireId])
REFERENCES [dbo].[Personne] ([PersonneId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Beneficiaire]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Bien] FOREIGN KEY([BienId])
REFERENCES [dbo].[Bien] ([BienId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Bien]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Document] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[DocumentBien] ([DocumentBienId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Document]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Payeur] FOREIGN KEY([PayeurId])
REFERENCES [dbo].[Personne] ([PersonneId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Payeur]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Statut] FOREIGN KEY([StatutTransactionId])
REFERENCES [dbo].[StatutTransaction] ([StatutTransactionId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Statut]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Type] FOREIGN KEY([TypeTransactionId])
REFERENCES [dbo].[TypeTransaction] ([TypeTransactionId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Type]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [CK_Transaction_Montant] CHECK  (([Montant]>(0)))
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [CK_Transaction_Montant]
GO
/****** Object:  Trigger [dbo].[TRG_Bien_StatutHistorique]    Script Date: 31-05-26 22:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_Bien_StatutHistorique]
ON [dbo].[Bien]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO HistoriqueStatutBien (DateChangement, StatutBienId, BienId)
    SELECT GETDATE(), i.StatutBienId, i.BienId
    FROM inserted i
    INNER JOIN deleted d ON i.BienId = d.BienId
    WHERE i.StatutBienId <> d.StatutBienId;
END;
GO
ALTER TABLE [dbo].[Bien] ENABLE TRIGGER [TRG_Bien_StatutHistorique]
GO
USE [master]
GO